html {
    background-color: #0f4b42;    
}

body {
    margin: auto 0;
}
.zone {
    /* padding:30px 50px;
    margin:40px 60px; */
    cursor:pointer;
    /* display:inline-block; */
    font-size:2em;
    border-radius:4px;
    border:1px solid #0f4b42;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.main-nav {
    display: flex;
    list-style: none;
    font-style: 0.7em;
    margin: 0;
    background-color: #0f4b42;
    color: #0f4b42;
}

.cover {
    background-color: #0f4b42;
}

.products {
    background-color: #ef916b;
}

@media only screen and ( max-width:600px) {
    .main-nav{
        font-size: 0.5em;
        padding: 0;
    }
}
    

.push {
    margin-left: auto;
}

li {
    padding: 20px;
}

a {
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:#ef916b;
    font-weight: bold;
}

/* cover */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/* Grid */
.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
    width: 100%;
}

.box {
    background-color: #fff;
    padding: 10px;
    margin: 20px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.IT299 {
    background-color: #0f4b42;
}

.footer-nav {
    display: flex;
    list-style: none;
    font-style: 0.7em;
    margin: 0;
    background-color: #0f4b42;
    color: #ef916b;
}
